.outterBox {
    width: 100%;
}

.innerBox {
    width: 600px;
    margin: auto;
    margin-top: 50px;
}

h3 {
    font-size: 2.15rem;
    text-decoration: underline;
}

@media screen and ( max-width: 625px ){
    .innerBox {
        width: 90%;
    }
}